@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rk] {
    --rk-shadows-connectButton: none !important;
}

[data-rk] ._12cbo8i3:hover {
    transform: scale(1) !important;
    opacity: 100% !important;
}

[data-rk] ._12cbo8i3 {
    opacity: 90% !important;
}

.primary-button {
    background-image: url("/primary-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent !important;
    @apply rounded-xl shadow-md shadow-shadow dark:shadow-dark-shadow text-white dark:text-white
}

.secondary-button {
    @apply shadow-md shadow-shadow dark:shadow-dark-shadow rounded-lg bg-secondary dark:bg-dark-secondary text-text-two dark:text-text-two
}

.nft-container {
    background-image: linear-gradient(to bottom right, theme("colors.bg2") 10%, theme("colors.bg4"), theme("colors.bg2") 90%);
}

.gradient-loader {
    background: repeating-linear-gradient(to right, theme("colors.bg2"), theme("colors.bg3"), theme("colors.bg2"));
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
    .nft-container {
        background-image: linear-gradient(to bottom right, theme("colors.dark.bg2") 10%, theme("colors.dark.bg4"), theme("colors.dark.bg2") 90%);
    }

    .gradient-loader {
        background: repeating-linear-gradient(to right, theme("colors.dark.bg2"), theme("colors.dark.bg3"), theme("colors.dark.bg2"));
        background-size: 200% auto;
        background-position: 0 100%;
        animation: gradient 2s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    .primary-button {
        background-image: url("/primary-button-dark.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent !important;
        @apply rounded-xl shadow-md shadow-shadow dark:shadow-dark-shadow text-white dark:text-white
    }
}
  
  @keyframes gradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
  }

/* .gradient-loader {
    background: linear-gradient(90deg, transparent, #00000020, transparent);
    background-size: 200%;
    animation: gradient 1s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
} */

.fade-in {
    animation: fade_in 0.5s; 
}

@keyframes fade_in {
    from { opacity: 0 }
    to { opacity: 100 }
}