@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rk] {
    --rk-shadows-connectButton: none !important;
}

[data-rk] ._12cbo8i3:hover {
    transform: scale(1) !important;
    opacity: 100% !important;
}

[data-rk] ._12cbo8i3 {
    opacity: 90% !important;
}

.primary-button {
    background-image: url("/primary-button.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent !important;
    @apply rounded-xl shadow-md shadow-[#00000020]
}

.secondary-button {
    @apply shadow-md shadow-[#00000020] rounded-lg bg-slate-600 text-white
}

.nft-container {
    background-image: linear-gradient(to bottom right, theme("colors.slate.50") 10%, theme("colors.slate.300"), theme("colors.slate.50") 90%);
}

.gradient-loader {
    background: repeating-linear-gradient(to right, theme("colors.slate.50"), theme("colors.slate.200"), theme("colors.slate.50"));
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  
  @keyframes gradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
  }

/* .gradient-loader {
    background: linear-gradient(90deg, transparent, #00000020, transparent);
    background-size: 200%;
    animation: gradient 1s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
} */

.fade-in {
    animation: fade_in 0.5s; 
}

@keyframes fade_in {
    from { opacity: 0 }
    to { opacity: 100 }
}